<!-- <h1>All the posts!</h1> -->


<!-- <h<%= 1 %>>
  All the posts!
</h<%= 1 %>> -->
<!-- ^^ silly way of getting h1-->

<% [1, 2, 3, 4, 5, 6].each do |num| %>
  <h<%= num %>>All the posts!</h<%= num %>>
<% end %>

<%# [1, 2, 3].eah { |num| num * 2 } %>
<%# use '#' to comment out erb  %>

<!-- @posts without erb .... just a string -->

<!-- erb, i.e. madlibs -->
<!-- fill in the blanks server-side -->
<!-- your computer just gets plain ol' html-->


<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.title %>
    </li>
  <% end %>
</ul>
